<!-- selectCoordinatesModal -->
<!-- ng-controller='selectCoordinatesModalController as SlCdrMC' -->

<div class="modal-header panel-default">
    <h3 class="modal-title">Place your document on the map</h3>
</div>
<!-- Body-->

<div class="modal-body">
    <div id="map" class="map-display-modal" ></div>
</div>
<!-- End Body -->

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="SlCdrMC.confirm()">Confirm</button>
    <button class="btn btn-warning" ng-click="SlCdrMC.cancel()">Cancel</button>
</div>
<!-- END selectCoordinatesModal -->