/*Utility*/
.margin-bottom-1 {
    margin-bottom: 1em;
}

.margin-1 {
    margin: 1em;
}

.lean-left-1{
    position:relative;
    left: 1em;
}

.pading-left-1{
    padding-left:1em;
}

._image-short {
    height: 21em;
    overflow: hidden;
    background-color: #333;
}
.background-white{
    background-color:rgba(250, 250, 250, 0.75)
}
.width-full{
    width: 100%;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
      display: none !important;
    }


/*End Utility*/
/*Body*/
body {
    width: 100%;
}

    body .container-fluid {
        width: 100%;
    }
/*End Body*/
/*Home Page*/
.about-section img.full-img {
    width: 140%;
    overflow: hidden;
}
/*.slide-section {
    height: 25em;
    background-image: url('Images/pexels-england-map-photo-229949.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding-top: 60px;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 40px;
}*/
/*.slide-section-overlay{
    z-index: 0;
        background-color:rgba(12, 189, 170, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
}*/

/*
      content: "";
  background: url(image.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
*/
.slide-section {
    background-color:rgba(12, 189, 170, 0.5);
    height: 30em;
    position: relative;
    padding-top: 60px;
    padding-bottom: 40px;
}

    .slide-section::after {
        content: "";
        background: url('Images/pexels-england-map-photo-229949.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .slide-section .container h1 {
        z-index: 9;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .slide-section .flexslider {
        padding: 0px;
        background-color: transparent;
        border: 0px;
        margin-bottom: 50px;
    }

        .slide-section .flexslider img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            float: left;
            margin-right: 40px;
            z-index: 5;
        }

        .slide-section .flexslider p {
            overflow: hidden;
            color: #fff;
            font-size: 20px;
        }

    .slide-section .flex-control-paging li a.flex-active {
        background: #fff;
        background: rgba(255, 255, 255, 0.9);
        cursor: default;
    }

figure:hover figcaption h2 {
    /*text-shadow: 0 0 15px #afafaf;*/
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.55);
}
/*End Homepage*/
/*Go Local Page*/
#grid .effect-lily figcaption p {
    color: rgba(12, 12, 12, 0.8);
    font-weight: 900;
    font-size: 1em;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.55);
}
/*End Go Local Page*/
/*Detail Page*/
/*.detail img{
    margin-bottom: 20px;
}*/
.detail {
    margin-bottom: 30px;
}

    .detail a {
        color: #0cbdaa;
        display: inline-block;
    }

        .detail a:hover {
            color: #1c1c1c;
        }

    .detail span {
        display: block;
        margin-bottom: 8px;
    }

    .detail p {
        margin-bottom: 20px;
        font-weight: 500;
    }

    .detail ._image-short {
        height: 20em;
        overflow: hidden;
        background-color: #333;
    }

        .detail ._image-short:hover {
            box-shadow: 0 5px 10px #888888;
        }

.img-display {
    width: 100%;
}

.item-desctiption {
    position: relative;
    top: 2em;
}

    .item-desctiption a span {
        display: inline-block;
    }
/*End Detail Page*/
/*Map Page*/
.map-title {
    padding-top: 92px;
    padding-bottom: 69px;
    text-align: center;
    background-image: url('Images/pexels-photo-maps.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}
.map-title-overlay{
    z-index: 2;
        background-color:rgba(12, 189, 170, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
}
.map-title h1{
       margin: 0px;
    font-weight: 800;
    color: #fff;
    z-index: 3;
    text-transform: uppercase;
    position: relative;
}
.map-display{
    display: block;
    /*width: 100%;*/
    height: 45em;
    background-color: #ccc;
}
/*End Map Page*/
/* Contribute */

#rotation-input{
    font-size: 2.5em;
    height: 2.5em;
    width: 2.5em;
    
}

#picture-container{
    position: relative;
    /*width:100%;*/
    overflow: hidden;
    z-index:2;
    margin-bottom: 1em;
}

#picture-container #contribution-picture{
    width: 100%;
}

#placeholder{
    background-color: #ccc;
    height: 32em;
}

#container {
   position: relative;
}

#background {
    width:100%;
    margin:auto;
   position: absolute;
   top: 10em;
   color: #aaa;
}

#background .background-icon{
    font-size: 500%;
    margin-bottom: 0.5em;
}

#formMarkerLatLng input{
    width: 33%;
    border: #aaa solid 1px;
}
.details-form input[type=number]::-webkit-inner-spin-button, 
.details-form input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


/* End Contribute */
