
@{
    Layout = "~/Views/Shared/_StormLayout1.cshtml";
}

<div class="page-title">

    <div class="container">

        <div class="page-title-overlay"></div>

        <h1>Go Local</h1>

    </div>

</div>



<div class="content">



    <div class="container">

        <div class="row">

            <div class="col-md-12">
                <h2>Your City</h2>

                <ul class="portfolio-filters">

                    <li class="filter active" data-filter="all">All</li>

                    <li class="filter" data-filter="maps"><strong>Maps</strong></li>

                    <li class="filter" data-filter="photos"><strong>Photos</strong></li>

                    <li class="filter" data-filter="video"><strong>Video</strong></li>

                </ul>

                <div id="grid" class="row grid">

                    <div class="mix maps col-md-4 col-sm-6 margin-btm-40 mix_all" style="display:inline-block">

                        <figure class="effect-lily">

                            <div class="_image-short">

                                <img src="~/Content/Theme/Images/media/LOC_LACounty_1888.jpg" alt="" class="img-responsive">

                            </div>

                            <figcaption>

                                <div>

                                    <h3><strong>LA County</strong></h3>

                                    <p><stong>1888</stong></p>

                                </div>

                                <a href="~/home/detail/0">View more</a>

                            </figcaption>

                        </figure>


                    </div><!-- archive item -->

                    <div class="mix photos col-md-4 col-sm-6 margin-btm-40 mix_all" style="display:inline-block">

                        <figure class="effect-lily">

                            <div class="_image-short">

                                <img src="~/Content/Theme/Images/media/LOC_BirdsEyeViewOfLA_1888.jpg" alt="" class="img-responsive">

                            </div>

                            <figcaption>

                                <div>

                                    <h3><strong>Bird's Eye View of LA</strong></h3>

                                    <p><strong>1898</strong></p>

                                </div>

                                <a href="~/home/detail/1">View more</a>

                            </figcaption>

                        </figure>


                    </div><!--archive item -->

                    <div class="mix maps col-md-4 col-sm-6 margin-btm-40 mix_all" style="display:inline-block">

                        <figure class="effect-lily">

                            <div class="_image-short">

                                <img src="~/Content/Theme/Images/media/LOC_OrangeCounty_1889.jpg" alt="" class="img-responsive">

                            </div>

                            <figcaption>

                                <div>

                                    <h3><strong>Orange  County</strong></h3>

                                    <p>1898</p>

                                </div>

                                <a href="~/home/detail/2">View more</a>

                            </figcaption>

                        </figure>



                    </div><!--archive item -->

                    <div class="mix video col-md-4 col-sm-6 margin-btm-40 mix_all" style="display:inline-block">

                        <figure class="effect-lily">

                            <div class="_image-short">
                                <img src="~/Content/Theme/Images/pexels_technology-music-sound-audio.jpg" alt="" class="img-responsive">

                            </div>

                            <figcaption>

                                <div>

                                    <h3><strong>Streets of LA 1898</strong></h3>

                                    <p>1898</p>

                                </div>

                                <a href="~/home/detail/3">View more</a>

                            </figcaption>

                        </figure>



                    </div><!--archive item -->

                    <div class="mix maps col-md-4 col-sm-6 margin-btm-40 mix_all" style="display:inline-block">

                        <figure class="effect-lily">

                            <div class="_image-short">

                                <img src="~/Content/Theme/Images/media/LOC_AnnexationsOfLA_1916.jpg" alt="" class="img-responsive">

                            </div>

                            <figcaption>

                                <div>

                                    <h3><strong>Los Angeles Anexations</strong></h3>
                                    <p>1916</p>

                                </div>

                                <a href="~/home/detail/4">View more</a>

                            </figcaption>

                        </figure>



                    </div><!--archive item -->

                    <div class="mix photos col-md-4 col-sm-6 margin-btm-40 mix_all" style="display:inline-block">

                        <figure class="effect-lily">

                            <div class="_image-short">

                                <img src="~/Content/Theme/Images/media/LOC_LA_1857.jpg" alt="" class="img-responsive">

                            </div>

                            <figcaption>

                                <div>

                                    <h3><strong>Sketch of LA</strong></h3>

                                    <p>1857</p>

                                </div>

                                <a href="~/home/detail/5">View more</a>

                            </figcaption>

                        </figure>


                    </div><!--archive item -->

                    <div class="mix maps col-md-4 col-sm-6 margin-btm-40 mix_all" style="display:inline-block">

                        <figure class="effect-lily">

                            <div class="_image-short">

                                <img src="~/Content/Theme/Images/media/LOC_LARailSystem_1906.jpg" alt="" class="img-responsive">

                            </div>

                            <figcaption>

                                <div>

                                    <h3><strong>LA Rail System</strong></h3>

                                    <p>1906</p>

                                </div>

                                <a href="~/home/detail/6">View more</a>

                            </figcaption>

                        </figure>



                    </div><!--archive item -->

                    <div class="mix maps col-md-4 col-sm-6 margin-btm-40 mix_all" style="display:inline-block">

                        <figure class="effect-lily">

                            <div class="_image-short">

                                <img src="~/Content/Theme/Images/media/LOC_LACounty_1898.jpg"  alt="" class="img-responsive">

                            </div>

                            <figcaption>

                                <div>

                                    <h3><strong>Los Angeles County</strong></h3>

                                    <p>1898</p>

                                </div>

                                <a href="~/home/detail/7">View more</a>

                            </figcaption>

                        </figure>



                    </div><!--archive item -->

                    <div class="mix maps col-md-4 col-sm-6 margin-btm-40 mix_all" style="display:inline-block">

                        <figure class="effect-lily">

                            <div class="_image-short">

                                <img src="~/Content/Theme/Images/media/LOC_CatalinaIsland_1906.jpg" alt="" class="img-responsive">

                            </div>

                            <figcaption>

                                <div>

                                    <h3><strong>Catalina Island</strong></h3>

                                    <p>1906</p>

                                </div>

                                <a href="~/home/detail/8">View more</a>

                            </figcaption>

                        </figure>



                    </div><!--archive item item -->

                </div><!--grid-->

            </div>

        </div><!--row-->

    </div><!--archive container end-->

</div>

@section Scripts{
    
<script src="~/Scripts/Theme/jquery.flexslider-min.js"></script>
<script src="~/Scripts/Theme/jquery.mixitup.min.js"></script>

<script type="text/javascript">

        /*========portfolio mix====*/

        $('#grid').mixitup();



</script>
    
    }