
@{
    Layout = "~/Views/Shared/_StormLayout1.cshtml";
}

<div class="page-title">

    <div class="container">

        <div class="page-title-overlay"></div>

        <h1>Go Local</h1>

    </div>

</div>



<div class="content" ng-controller="goLocalController as GLC">



    <div class="container">

        <div class="row">

            <div class="col-md-12">
                <h2>{{GLC.location.city}}</h2>

                <ul class="portfolio-filters">

                    <li class="filter active" data-filter="all">All</li>

                    <li class="filter" data-filter="maps"><strong>Maps</strong></li>

                    <li class="filter" data-filter="photos"><strong>Photos</strong></li>

                    @*<li class="filter" data-filter="video"><strong>Video</strong></li>*@

                </ul>

                <div id="grid" class="row grid">

                    <div ng-repeat="doc in GLC.nearbyDocs" ng-cloak>
                        <div class="mix col-md-4 col-sm-6 margin-btm-40 mix_all" style="display:inline-block" ng-class="{'maps':doc.TypeId == 1, 'photos':doc.TypeId == 2 }">

                            <figure class="effect-lily">

                                <div class="_image-short">

                                    <img ng-src="{{doc.ResourceUrl}}" alt="" class="img-responsive">

                                </div>

                                <figcaption>

                                    <div>

                                        @*<h3><strong>{{doc.Title}}</strong></h3>

                                        <p><stong>{{doc.Year}}</stong></p>*@
                                        <h2><span>{{doc.Title}} ({{doc.Year}})</span></h2>

                                    </div>

                                    <a ng-href="~/home/detail/{{doc.DocumentId}}">View more</a>

                                </figcaption>

                            </figure>


                        </div>
                    </div><!-- archive item -->

                   @* <div class="mix photos col-md-4 col-sm-6 margin-btm-40 mix_all" style="display:inline-block">

                        <figure class="effect-lily">

                            <div class="_image-short">

                                <img src="~/Content/Theme/Images/media/LOC_BirdsEyeViewOfLA_1888.jpg" alt="" class="img-responsive">

                            </div>

                            <figcaption>

                                <div>

                                    <h3><strong>Bird's Eye View of LA</strong></h3>

                                    <p><strong>1898</strong></p>

                                </div>

                                <a href="~/home/detail/1">View more</a>

                            </figcaption>

                        </figure>


                    </div><!--archive item -->

                    @*<div class="mix maps col-md-4 col-sm-6 margin-btm-40 mix_all" style="display:inline-block">

                        <figure class="effect-lily">

                            <div class="_image-short">

                                <img src="~/Content/Theme/Images/media/LOC_OrangeCounty_1889.jpg" alt="" class="img-responsive">

                            </div>

                            <figcaption>

                                <div>

                                    <h3><strong>Orange  County</strong></h3>

                                    <p>1898</p>

                                </div>

                                <a href="~/home/detail/2">View more</a>

                            </figcaption>

                        </figure>



                    </div><!--archive item -->

                    <div class="mix video col-md-4 col-sm-6 margin-btm-40 mix_all" style="display:inline-block">

                        <figure class="effect-lily">

                            <div class="_image-short">
                                <img src="~/Content/Theme/Images/pexels_technology-music-sound-audio.jpg" alt="" class="img-responsive">

                            </div>

                            <figcaption>

                                <div>

                                    <h3><strong>Streets of LA 1898</strong></h3>

                                    <p>1898</p>

                                </div>

                                <a href="~/home/detail/3">View more</a>

                            </figcaption>

                        </figure>



                    </div><!--archive item -->

                    <div class="mix maps col-md-4 col-sm-6 margin-btm-40 mix_all" style="display:inline-block">

                        <figure class="effect-lily">

                            <div class="_image-short">

                                <img src="~/Content/Theme/Images/media/LOC_AnnexationsOfLA_1916.jpg" alt="" class="img-responsive">

                            </div>

                            <figcaption>

                                <div>

                                    <h3><strong>Los Angeles Anexations</strong></h3>
                                    <p>1916</p>

                                </div>

                                <a href="~/home/detail/4">View more</a>

                            </figcaption>

                        </figure>



                    </div><!--archive item -->

                    <div class="mix photos col-md-4 col-sm-6 margin-btm-40 mix_all" style="display:inline-block">

                        <figure class="effect-lily">

                            <div class="_image-short">

                                <img src="~/Content/Theme/Images/media/LOC_LA_1857.jpg" alt="" class="img-responsive">

                            </div>

                            <figcaption>

                                <div>

                                    <h3><strong>Sketch of LA</strong></h3>

                                    <p>1857</p>

                                </div>

                                <a href="~/home/detail/5">View more</a>

                            </figcaption>

                        </figure>


                    </div><!--archive item -->

                    <div class="mix maps col-md-4 col-sm-6 margin-btm-40 mix_all" style="display:inline-block">

                        <figure class="effect-lily">

                            <div class="_image-short">

                                <img src="~/Content/Theme/Images/media/LOC_LARailSystem_1906.jpg" alt="" class="img-responsive">

                            </div>

                            <figcaption>

                                <div>

                                    <h3><strong>LA Rail System</strong></h3>

                                    <p>1906</p>

                                </div>

                                <a href="~/home/detail/6">View more</a>

                            </figcaption>

                        </figure>



                    </div><!--archive item -->

                    <div class="mix maps col-md-4 col-sm-6 margin-btm-40 mix_all" style="display:inline-block">

                        <figure class="effect-lily">

                            <div class="_image-short">

                                <img src="~/Content/Theme/Images/media/LOC_LACounty_1898.jpg"  alt="" class="img-responsive">

                            </div>

                            <figcaption>

                                <div>

                                    <h3><strong>Los Angeles County</strong></h3>

                                    <p>1898</p>

                                </div>

                                <a href="~/home/detail/7">View more</a>

                            </figcaption>

                        </figure>



                    </div><!--archive item -->

                    <div class="mix maps col-md-4 col-sm-6 margin-btm-40 mix_all" style="display:inline-block">

                        <figure class="effect-lily">

                            <div class="_image-short">

                                <img src="~/Content/Theme/Images/media/LOC_CatalinaIsland_1906.jpg" alt="" class="img-responsive">

                            </div>

                            <figcaption>

                                <div>

                                    <h3><strong>Catalina Island</strong></h3>

                                    <p>1906</p>

                                </div>

                                <a href="~/home/detail/8">View more</a>

                            </figcaption>

                        </figure>



                    </div><!--archive item item -->*@

                </div><!--grid-->

            </div>

        </div><!--row-->

    </div><!--archive container end-->

</div>

@section Scripts{
    
<script src="~/Scripts/Theme/jquery.flexslider-min.js"></script>
<script src="~/Scripts/Theme/jquery.mixitup.min.js"></script>

<script src="~/Scripts/App/Pages/Controllers/GoLocalController.js"></script>

<script type="text/javascript">
        /*========portfolio mix====*/
        $('#grid').mixitup();
</script>
    
    }