@{
    Layout = "~/Views/Shared/_StormLayout1.cshtml";

}
@section Meta{
    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <link href="~/Content/Leaflet/leafletStyles.css" rel="stylesheet" />
    <link href="~/Content/Leaflet/leaflet.toolbar.css" rel="stylesheet" />
    <link href="~/Content/Leaflet/opacitySlider.css" rel="stylesheet" />
    <link href="~/Content/Leaflet/leaflet.distortableimage.css" rel="stylesheet" />
}

<div ng-controller="homeController as HmC">
    <section id="home" class="section-intro">

        <div class="container">

            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <div class="intro-box">

                        <h1 ng-cloak>GeoArchive</h1>

                        <h3>A Living Atlas</h3>

                        <a href="~/Home/Search" class="btn btn-lg btn-white-border">Search Archive</a>

                    </div>

                </div>

            </div>

        </div>

    </section><!--section home-->



    <section id="portfolio" class="section-portfolio">

        <div class="container">

            <div class="row">

                <div class="col-md-1 col-sm-1">
                </div>
                <div class="col-md-6 col-sm-10">
                    <h2>{{HmC.location.city}} Area</h2>
                    <div id="map" class="map-display"></div>
                </div>
                <div class="col-md-5 col-sm-10">
                    <h1>This will be information on displayed object</h1>
                </div>
            </div>
        </div>
    </section> <!-- Map Section -->

    <section id="about" class="about-section">

        <div class="container-fluid">

            <div class="row">

                <div class="col-sm-7 no-padd">

                    <img src="~/Content/Theme/Images/pexels-photo-library.jpg" class="img-responsi full-img" alt="" />

                </div>

                <div class="col-md-5 col-sm-5 no-padd">

                    <div class="about-right">

                        <div class="about-top text-center wow animated fadeInUp" data-wow-delay="0.2s">

                            <h1>The Project</h1>

                            <p>

                                <em>

                                    Lorem Ipsum is simply dummy text of the<br>

                                    printing and typesetting

                                </em>

                                <br>

                                <br>

                                <a href="about.html">Find Out More</a>

                            </p>

                        </div>

                        <div class="about-right-bottom wow animated fadeInUp" data-wow-delay="0.4s">

                            <p>

                                em Ipsum is simply dummy text of the em Ipsum is simply dummy text of the

                            </p>

                            <p>

                                em Ipsum is simply dummy text of the em Ipsum is simply dummy text of the

                            </p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>
    <!-- About Section -->




    <section id="latest" class="section-portfolio">

        <div class="container">

            <div class="row">

                <div class="col-sm-12">

                    <div class="section-title wow animated fadeInUp" data-wow-delay="0.2s">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <span>What's new?</span>
                            <h1>Latest Additions</h1>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <a href="portfolio.html" class="btn btn-border-theme pull-right">Search Archive</a>
                        </div>


                    </div>

                </div>

            </div>

            <div class="row grid">
                <div ng-repeat="newbie in HmC.latest">
                    <div class="col-sm-4 wow animated fadeInUp" data-wow-delay="0.2s">

                        <figure class="effect-lily">

                            <div class="_image-short">

                                <img ng-src={{newbie.ResourceUrl}} alt="" />

                            </div>

                            <figcaption>

                                <div>

                                    <h2><span>{{newbie.Title}} ({{newbie.Date}})</span></h2>

                                    @* <p>{{newbie.Date}}</p>*@

                                </div>

                                <a href="../home/detail/{{newbie.DocumentId}}">View more</a>

                            </figcaption>

                        </figure>

                    </div>
                </div> <!-- End ng-repeat-->

            </div>

        </div>

    </section><!--Latest-->
</div>

<div class="slide-section">
    <div class="slide-section-overlay"></div>
    <div class="container">

        <h1>Have a document you'd like to share?</h1>

        <div class="row wow animated fadeInUp" data-wow-delay="0.2s">

            <div class="text-center">

                <h3 class="margin-bottom-1">The quick brown fox jumps over the lazy dog.</h3>
                <a href="~/Home/Contribute" class="btn btn-border-theme background-white">Contribute</a>

            </div>

        </div>

    </div>

</div><!--contribute-->

<br />

@section Scripts{

    <!-- Leaflet core -->
    <script src="~/Scripts/leaflet/leaflet-src.js"></script>

    <!-- Leaflet tools -->
    <script src="~/Scripts/leaflet/leaflet.rotateimage.js"></script>

    <script src="~/Scripts/leaflet/leaflet.toolbar.js"></script>

    <script src="~/Scripts/leaflet/noMap.js"></script>
    <script src="~/Scripts/leaflet/tilesets.js"></script>

    <script src="~/Scripts/leaflet/mapEditTools.js"></script>

    @*<script src="~/Scripts/services/project.services.Leaflet.js"></script>*@

    <script src="~/Scripts/App/LeafletJS/Services/LeafletMapService.js"></script>

    <!-- Home Controller-->
    <script src="~/Scripts/App/Pages/Controllers/HomeController.js"></script>

    @*<script>
        project.page.startUp = function () {

            // Get User's location
            project.services.IP.getLocation(project.page.onGetLocationSuccess, project.page.onAjaxError);

            $("body").find(".leaflet-image-layer").fadeOut();
        };

        // .....................................................................................
        // If user location retrieved successfully
        project.page.onGetLocationSuccess = function (locationObject) {
            // Centers display map on recieved latLng coordinates
            var latLng = {
                lat: locationObject.lat,
                lng: locationObject.lon
            };

            project.services.Leaflet.editMap(latLng);
        }

        // .....................................................................................

        project.page.onAjaxError = function (data) {
            console.log("An error occured: ", data);
        }

    </script>*@

    <!-- $documentHttpService -->
    @*<script src="~/Scripts/App/Archive/Services/documentHttpService.js"></script>*@
    @*<script>
            (function () {
                "use strict"
                angular.module(project.APPNAME)
                .controller("homecontroller", HomeController);

                HomeController.$inject = ['$documentHttpService', '$ipLocationService'];

                function HomeController($documentHttpService, $ipLocationService) {

                    // Injection
                    var vm = this;
                    vm.$documentHttp = $documentHttpService;
                    vm.$ipLocationService = $ipLocationService;

                    // Methods
                    vm.getLatestDocuments = _getLatestDocuments;
                    vm.getLocation = _getLocation;

                    // Properties
                    vm.message = "hello world!";
                    vm.latest = null;
                    vm.location = null;

                    vm.tabs = [
                        { link: "#/", title: "Primary", "class": "active" },
                        { link: "#/office", title: "Office", "class": "" },
                        { link: "#/warehouse", title: "Warehouse", "class": "" },
                        { link: "#/projectSite", title: "Project Site", "class": "" }
                    ];

                    // Stat-up functions
                    vm.getLatestDocuments();
                    vm.getLocation();


                    // /////////////////////////////////////////////////////////////////////////////////

                    function _getLatestDocuments() {
                        return $documentHttpService.getLatest()
                            .then(function populateVmLatest(latest) {

                                // Add delay value for css animation
                                if (latest.data.Items.length > 0) {
                                    var items = latest.data.Items;
                                    var delay = 0.2;
                                    for (var i = 0; i < items.length; i++) {
                                        items[i].delay = delay;
                                        delay += 0.2;
                                    }
                                    vm.latest = items;
                                }
                                console.log("test: ", vm.latest); // TODO FIXME DELETE
                            })
                            .catch(showError);
                    }


                    // .................................................................................

                    function _getLocation() {
                        vm.$ipLocationService.getLocation()
                        .then(function (location) {
                            console.log("location: ", location);
                            vm.location = location.data;
                        })
                        .catch(showError);
                    }


                    // .................................................................................

                    function showError(error) {
                        console.log("An http error occured! ", error);
                    };

                }

            })();


        </script>*@

}
