@model CrudApp.Models.ViewModels.BaseVm<CrudApp.Models.Documents.MapDomain>

@{
    Layout = "~/Views/Shared/_StormLayout1.cshtml";
}

@section Meta{
    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <link href="~/Content/Leaflet/leafletStyles.css" rel="stylesheet" />
    <link href="~/Content/Leaflet/leaflet.toolbar.css" rel="stylesheet" />
    <link href="~/Content/Leaflet/leaflet.distortableimage.css" rel="stylesheet" />
}
<!-- Map -->
<div ng-controller="mapController as MapC" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model._Document))">
    <div class="map-title">

        <div class="map-title-overlay"></div>

        <div class="container">
        </div>

    </div>
    <div class="width-full">
        <div class="row">

            <a href="/home/detail/@Model._Document.DocumentId">
                <h1 id="doc-title" class="text-center">@Model._Document.Title (@Model._Document.Year)</h1>
            </a>
            <div id="map" class="map-display col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1"></div>
        </div>
        <br />
    </div>
</div>




@section Scripts{
    <script src="~/Scripts/leaflet/leaflet-src.js"></script>
    <script src="~/Scripts/leaflet/leaflet.rotateimage.js"></script>
    <script src="~/Scripts/leaflet/leaflet.toolbar.js"></script>
    <script src="~/Scripts/leaflet/opacitySlider.js"></script>

    <script src="~/Scripts/leaflet/noMap.js"></script>
    <script src="~/Scripts/leaflet/tilesets.js"></script>

    <script src="~/Scripts/App/LeafletJS/Services/LeafletMapService.js"></script>
    <script src="~/Scripts/App/Pages/Controllers/MapController.js"></script>
   
}
